.subtitle {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

button {
    background: #ff2e63;
    border: none;
    border-radius: 30px;
    padding: 14px 26px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    box-shadow: 0 5px 15px rgba(255,0,100,.4);
}
button:hover {
    transform: scale(1.05);
}
